body{
    min-height: 100vh;
    margin: 0;
    background-image: url(image.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-image: url(contentBackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 90%;
    max-width: 500px;
    margin-top: 40px 0;
    font-size: 25px;
    text-align: center;
    background-color: rgb(143, 127, 218);
    border-radius: 10px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.converter{
    display: flex;
    flex-direction: column;
    /* height: 5px;
    width: 200px;
    padding-left: 110px;
    padding-top: 30px; */
    align-items: center;
    padding: 30px;
    gap: 1px;
    font-size: 20px;
}

#inputType, #outputType{
    padding: 10px;
    font-size: 20px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

input{
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #ddd;
    font-size: 20px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

label{
    
    font-size: 20px;
    margin-left: 14px;
}

select{
    padding: 5px;
    font-size: 20px;
    border-radius: 7px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

button{
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(239, 148, 92);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    color: white;
    background-color: rgb(26, 26, 181);
}

#result{
    margin-top: 30px;
    padding: 10px;
    font-size: 20px;
    color: #f80606;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}